@import "../../styles/felix-ui/utils/functions.scss";

.container {
    border-bottom: 1px solid var(--border-color-3);
    position: sticky;
    background: var(--white);
    top: 0;
    z-index: 10;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1240px;
        margin: auto;
        align-items: center;
        padding: 1.25rem 1.25rem;
    }
    .logo {
        width: 120px;
    }
    .links {
        display: flex;
        align-items: center;
        a {
            margin-left: 1.5rem;
        }
    }
}
