@import "../../utils/functions.scss";

/*  
    base mixin for outline and ghost button variant 
    base mixin accepts 2 parameter color and v - for variant
    v=0 ghost and v=1 outline
*/

@mixin base($color, $v: 0) {
    background: var(--clr-#{$color}-light);
    @if $v != 0 {
        border: none;
    } @else {
        border: 2px solid var(--clr-#{$color});
    }
    color: var(--clr-#{$color});
    @media (hover: hover) {
        &:hover {
            background: var(--clr-#{$color});
            color: var(--clr-white);
        }
    }
    &:active {
        background: var(--clr-#{$color});
        color: var(--clr-white);
    }
    &.active {
        background: var(--clr-#{$color});
        color: var(--clr-white);
    }
}

.btn {
    $p: &;
    border: 0;
    outline: none;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    transition: var(--transition);
    @media (hover: hover) {
        &:hover {
            transform: translateY(-3px);
            box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
        }
    }
    &:active {
        transform: scale(0.95);
    }
    &.noTransform {
        &:hover {
            transform: none;
        }
    }
    /* Button sizes */

    &.xs {
        font-size: rem(11);
        padding: 0 rem(8);
        height: 1.5rem;
    }
    &.sm {
        font-size: rem(13);
        padding: 0 rem(12);
        height: 2rem;
    }
    &.md {
        font-size: rem(15);
        padding: 0 rem(18);
        height: 2.5rem;
    }
    &.lg {
        font-size: rem(17);
        padding: 0 rem(24);
        height: 3rem;
    }
    &.wide {
        width: 100%;
    }

    /* BUtton themes */

    &.primary {
        background-color: var(--clr-primary);
        color: var(--clr-white);
        @media (hover: hover) {
            &:hover {
                background: var(--clr-primary-dark);
            }
        }
        &:active {
            background: var(--clr-primary-dark);
        }
    }
    &.info {
        background-color: var(--clr-blue);
        color: var(--clr-white);
    }
    &.success {
        background: var(--clr-green);
        color: var(--clr-white);
    }
    &.warning {
        background: var(--clr-yellow);
        color: var(--clr-white);
    }
    &.danger {
        background: var(--clr-red);
        color: var(--clr-white);
    }
    &.gray {
        background: var(--clr-gray-6);
        color: var(--clr-gray-2);
        &:hover {
            background: var(--clr-gray-5);
        }
    }
    &.disable {
        background: var(--clr-gray-6);
        border: none;
        color: var(--clr-gray-3);
        cursor: not-allowed;
        &:hover {
            transform: none;
            background: var(--clr-gray-6);
            border: none;
            color: var(--clr-gray-3);
        }
    }

    /* Button Variants */

    &.round {
        border-radius: 5rem;
    }

    /* Outline css generated from base mixin */

    &.outline {
        &.primary {
            @include base(primary);
        }
        &.success {
            @include base(green);
        }
        &.info {
            @include base(blue);
        }
        &.danger {
            @include base(red);
        }
        &.warning {
            @include base(yellow);
        }
        &.gray {
            border: 2px solid var(--clr-gray-4);
        }
    }

    &.ghost {
        &.primary {
            @include base(primary, 1);
        }
        &.success {
            @include base(green, 1);
        }
        &.info {
            @include base(blue, 1);
        }
        &.danger {
            @include base(red, 1);
        }
        &.warning {
            @include base(yellow, 1);
        }
    }
    &.link {
        background: none;
        border: none;
        color: var(--clr-primary);
        &:hover {
            background: none;
            color: var(--clr-primary);
            text-decoration: underline;
            transform: none;
            box-shadow: none;
        }
    }

    &.icon {
        &.md {
            padding: 0 0.6rem;
            font-size: 1.301rem;
        }
        svg {
            margin: 0;
        }
    }
    .loader {
        position: relative;
        left: -9999px;
        width: 8px;
        height: 8px;
        margin: 0 1rem;
        border-radius: 5px;
        background-color: var(--clr-loader);
        color: var(--clr-loader);
        box-shadow: 9999px 0 0 0 var(--clr-loader);
        animation: dotFalling 1s infinite linear;
        animation-delay: 0.1s;

        &::before,
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
        }
        &::before {
            width: 8px;
            height: 8px;
            left: 2px;
            border-radius: 5px;
            background-color: var(--clr-loader);
            color: var(--clr-loader);
            animation: dotFallingBefore 1s infinite linear;
            animation-delay: 0s;
        }
        &::after {
            width: 8px;
            height: 8px;
            left: -2px;
            border-radius: 5px;
            background-color: var(--clr-loader);
            color: var(--clr-loader);
            animation: dotFallingAfter 1s infinite linear;
            animation-delay: 0.2s;
        }
    }
}

/* Button group */

.group {
    width: max-content;
    margin-block: 0.6rem;
    .btn {
        border-radius: 0;
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:hover {
            transform: none;
        }
    }

    /* Button group global sizes for child buttons extended from button sizes*/

    &.xs > button {
        @extend .xs;
    }
    &.sm > button {
        @extend .sm;
    }
    &.md > button {
        @extend .md;
    }
    &.lg > button {
        @extend .lg;
    }

    /* Button group global theme style for child buttons */

    &.primary {
        & > button.btn {
            @include base(primary);
            border: inherit;
        }
        &.outline > button.btn {
            border-color: #1aa564;
            &:first-child {
                border-color: #1aa564;
            }
        }
    }
    &.info {
        & > button.btn {
            @include base(blue);
            border: inherit;
        }
        &.outline > button.btn {
            border-color: #00629b;
            &:first-child {
                border-color: #00629b;
            }
        }
    }
    &.success {
        & > button.btn {
            @include base(green);
            border: inherit;
        }
        &.outline > button.btn {
            border-color: #1a8f67;
            &:first-child {
                border-color: #1a8f67;
            }
        }
    }
    &.warning {
        & > button.btn {
            @include base(yellow);
            border: inherit;
        }
        &.outline > button.btn {
            border-color: #d88f09;
            &:first-child {
                border-color: #d88f09;
            }
        }
    }
    &.danger {
        & > button.btn {
            @include base(red);
            border: inherit;
        }
        &.outline > button.btn {
            border-color: #e92525;
            &:first-child {
                border-color: #e92525;
            }
        }
    }
    &.gray > button {
        background: var(--clr-gray-6);
        color: var(--clr-gray-2);
        border-color: var(--clr-gray-4);
        &.active {
            background: var(--clr-primary);
            color: #fff;
        }
        &:hover {
            background: var(--clr-gray-5);
        }
    }

    /* Button outline class */

    &.outline > button.btn {
        border-width: 1px 1px 1px 0;
        border-style: solid;
        &:first-child {
            border-left: 1px solid var(--clr-gray-4);
        }
    }
}

@keyframes dotFalling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
        box-shadow: 9999px 0 0 0 var(--clr-loader);
    }
    100% {
        box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
    }
}

@keyframes dotFallingBefore {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
        box-shadow: 9984px 0 0 0 var(--clr-loader);
    }
    100% {
        box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
    }
}

@keyframes dotFallingAfter {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
        box-shadow: 10014px 0 0 0 var(--clr-loader);
    }
    100% {
        box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
    }
}
