@import "../../utils/functions.scss";

.container {
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.1rem 0.4rem;
    background: #cfcfcf;
    border-radius: rem(3);
    &.green {
        background: var(--clr-green-light);
        color: var(--clr-green);
        border-color: var(--clr-green);
    }
    &.red {
        background: var(--clr-red-light);
        color: var(--clr-red);
        border-color: var(--clr-red);
    }
    &.blue {
        background: var(--clr-blue-light);
        color: var(--clr-blue);
        border-color: var(--clr-blue);
    }
    &.yellow {
        background: var(--clr-yellow-light);
        color: var(--clr-yellow);
        border-color: var(--clr-yellow);
    }
    &.primary {
        background: var(--clr-primary-light);
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }

    &.rounded {
        border-radius: rem(15);
    }
    &.outline {
        border: 1px solid;
    }
}
