@import "../utils";

//Next image warapper class

.image__con {
  width: 100%;
  height: 100%;
  position: relative;
  & > div {
    position: unset !important;
    overflow: visible !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

//input
.input__group {
  background: var(--input-bg);
  border-radius: em(6);
  padding: em(10) em(15);
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  border: 1px solid transparent;
  transition: 0.2s;
  position: relative;
  margin-bottom: em(15);
  .row {
    display: flex;
  }
  &:focus-within {
    border-color: var(--primary);
    .info label {
      color: var(--primary);
    }
  }
  &.error {
    border-color: var(--error);
    .info {
      label {
        color: var(--error);
      }
      span {
        color: var(--error);
        font-size: rem(12.8);
        transition: 0.2s;
      }
    }
  }
  .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    label {
      color: var(--label-white);
      transition: 0.2s;
    }
  }
  input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: var(--white);
    font-size: 1rem;
    font-family: Montserrat;
    &:focus {
      outline: none;
      //   & + .info label {
      //     color: var(--primary);
      //   }
    }
  }
  input[type="password"] {
    font-family: monospace;
    padding-right: em(25);
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }

  input[type="radio"] {
    display: none;

    & + label {
      font-size: 1rem;
      margin: em(5) em(20);
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        left: em(-20);
        top: em(6);
        width: em(14);
        height: em(14);
        border: 2px solid #898989;
        border-radius: 100%;
        transition: 0.1s;
      }
      &:hover::before {
        background: #323232;
      }
      &:after {
        content: "";
        width: em(10);
        height: em(10);
        background: var(--primary);
        position: absolute;
        left: em(-18);
        top: em(8);
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: 0.1s;
      }
    }
    &:not(:checked) + label {
      &:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
    }
    &:checked + label {
      color: var(--primary);
      &:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  & > svg {
    font-size: rem(27);
    position: absolute;
    right: em(6);
    bottom: em(4);
    padding: em(3);
    border-radius: 50%;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      background: #f0f8ff0d;
    }
    &:active {
      transform: scale(0.9);
      background: #f0f8ff0d;
    }
  }
}
.button {
  margin: 0 0.5rem;
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  line-height: 0;
  letter-spacing: 0.25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &.xs {
    font-size: rem(11);
    padding: 0 rem(8);
    height: 1.5rem;
  }
  &.sm {
    font-size: rem(13);
    padding: 0 rem(12);
    height: 2rem;
  }
  &.md {
    font-size: rem(15);
    padding: 0 rem(18);
    height: 2.5rem;
  }
  &.lg {
    font-size: rem(17);
    padding: 0 rem(24);
    height: 3rem;
    svg {
      font-size: 1.6rem;
    }
  }
  &.primary {
    background-color: var(--primary);
    color: var(--white);
  }
  &.info {
    background-color: var(--primary);
    color: var(--white);
  }
  &.success {
    background: var(--green);
  }
  &.warning {
    background: var(--red);
  }
  &.disable {
  }
  &.rounded {
    border-radius: 5rem;
  }
  &.outline {
    background: var(--primary-light);
    color: var(--primary);
    border: 2px solid var(--primary);
    transition: 0.2s;
    &:hover {
      background: var(--primary);
      color: var(--white);
    }
  }
  &.ghost {
    background: var(--primary-light);
    border: none;
    color: var(--primary);
    transition: 0.2s;
    &:hover {
      background: var(--primary);
      color: var(--white);
    }
  }
  &.link {
    background: none;
    border: none;
    color: var(--primary);
    transition: 0.2s;
    &:hover {
      background: none;
      color: var(--primary);
      text-decoration: underline;
    }
  }
  &.left {
    flex: row;
    svg {
      margin-right: 0.3rem;
    }
  }
  &.right {
    flex-flow: row-reverse;
    svg {
      margin-left: 0.3rem;
    }
  }

  &.icon {
    &.md {
      padding: 0 0.6rem;
      font-size: 1.301rem;
    }
    svg {
      margin: 0;
    }
  }
}

.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.5rem;
  .badge {
    display: inline-block;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background: var(--primary);
    position: absolute;
    border: 2px solid var(--page-bg);
    &.green {
      background: var(--green);
    }
    &.red {
      background: var(--red);
    }
    &.yellow {
      background: var(--yellow);
    }
  }
  .xs {
    width: rem(24);
    height: rem(24);
    font-size: 0.5em;
    + .badge {
      width: 0.5rem;
      height: 0.5rem;
      bottom: -1px;
      right: 0;
      border-width: 1px;
    }
  }
  .sm {
    width: rem(32);
    height: rem(32);
    font-size: 0.7em;
    + .badge {
      width: 0.7rem;
      height: 0.7rem;
      bottom: -2px;
      right: 0;
    }
  }
  .md {
    width: rem(48);
    height: rem(48);
    font-size: 1.1em;
    + .badge {
      width: 0.9rem;
      height: 0.9rem;
      bottom: 0;
      right: 0;
    }
  }
  .lg {
    width: rem(64);
    height: rem(64);
    font-size: 2rem;
    + .badge {
      width: 1.1rem;
      height: 1.1rem;
      bottom: 6px;
      right: 4px;
    }
  }
  .xl {
    width: rem(96);
    height: rem(96);
    font-size: 2.6rem;
    + .badge {
      width: 1.3rem;
      height: 1.3rem;
      bottom: 9px;
      right: 8px;
    }
  }
  .xxl {
    width: rem(128);
    height: rem(128);
    font-size: 3.2rem;
    + .badge {
      width: 1.3rem;
      height: 1.3rem;
      bottom: 9px;
      right: 8px;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
    span {
      line-height: 0;
    }
  }
  .info {
    @extend .text;
    font-weight: 500;
    color: #5b5b5b;
    background: #e1e1e1;
  }
}

.avatar_group {
  display: inline-flex;
  .avatar {
    margin-right: -1.7rem;
    border: 2px solid var(--page-bg);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &.xs .avatar > div {
    width: rem(24);
    height: rem(24);
    font-size: 0.5em;
    + .badge {
      width: 0.5rem;
      height: 0.5rem;
      bottom: -1px;
      right: 0;
      border-width: 1px;
    }
  }
  &.sm .avatar > div {
    width: rem(32);
    height: rem(32);
    font-size: 0.7em;
    + .badge {
      width: 0.7rem;
      height: 0.7rem;
      bottom: -2px;
      right: 0;
    }
  }
  &.md .avatar > div {
    width: rem(48);
    height: rem(48);
    font-size: 1.1em;
    + .badge {
      width: 0.9rem;
      height: 0.9rem;
      bottom: 0;
      right: 0;
    }
  }
  &.lg .avatar > div {
    width: rem(64);
    height: rem(64);
    font-size: 2rem;
    + .badge {
      width: 1.1rem;
      height: 1.1rem;
      bottom: 6px;
      right: 4px;
    }
  }
  &.xl .avatar > div {
    width: rem(96);
    height: rem(96);
    font-size: 2.6rem;
    + .badge {
      width: 1.3rem;
      height: 1.3rem;
      bottom: 9px;
      right: 8px;
    }
  }
  &.xxl .avatar > div {
    width: rem(128);
    height: rem(128);
    font-size: 2.6rem;
    + .badge {
      width: 1.3rem;
      height: 1.3rem;
      bottom: 9px;
      right: 8px;
    }
  }
}

.rating {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.5px;
  svg {
    color: var(--yellow);
    margin-right: 3px;
    &:last-of-type {
      margin-right: 10px;
    }
  }
}

.circle {
  border-radius: 50%;
}

.alert {
  max-width: 700px;
  padding: 0.6rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 4rem 1fr 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &.success {
    background: #c6f6d5;
    svg {
      background: var(--green);
    }
  }
  &.error {
    background: #fed6d7;
    svg {
      background: var(--red);
    }
  }
  &.warning {
    background: #feebc8;
    svg {
      background: var(--yellow);
    }
  }
  &.info {
    background: #bde3f8;
    svg {
      background: var(--yellow);
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span:nth-of-type(2) {
      font-size: 0.8rem;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    svg {
      padding: 0.6rem;
      border-radius: 50%;
      font-size: 2.5rem;
      color: #ffffff;
    }
  }
}
