@import "functions.scss";

//Next image warapper class

.image__con {
    width: 100%;
    height: 100%;
    position: relative;
    & > div {
        position: unset !important;
        overflow: visible !important;
    }
    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

//input

.rating {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.5px;
    svg {
        color: var(--yellow);
        margin-right: 3px;
        font-size: inherit;
        margin-bottom: -0.07rem;
        &:last-of-type {
            margin-right: 10px;
        }
    }
}

.circle {
    border-radius: 50%;
}
