@import "../../utils/functions.scss";
.container {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.5rem;
    .badge {
        display: inline-block;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background: var(--clr-primary);
        position: absolute;
        border: 2px solid var(--clr-white);
        &.green {
            background: var(--clr-green);
        }
        &.red {
            background: var(--clr-red);
        }
        &.yellow {
            background: var(--clr-yellow);
        }
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #ffffff;
        span {
            line-height: 0;
        }
    }
    .info {
        @extend .text;
        font-weight: 500;
        color: #5b5b5b;
        background: #e1e1e1;
    }
}
.xs {
    width: rem(24);
    height: rem(24);
    font-size: 0.5em;
    + .badge {
        width: 0.5rem;
        height: 0.5rem;
        bottom: -1px;
        right: 0;
        border-width: 1px;
    }
}
.sm {
    width: rem(32);
    height: rem(32);
    font-size: 0.7em;
    + .badge {
        width: 0.7rem;
        height: 0.7rem;
        bottom: -2px;
        right: 0;
    }
}
.md {
    width: rem(48);
    height: rem(48);
    font-size: 1.1em;
    + .badge {
        width: 0.9rem;
        height: 0.9rem;
        bottom: 0;
        right: 0;
    }
}
.lg {
    width: rem(64);
    height: rem(64);
    font-size: 2rem;
    + .badge {
        width: 1.1rem;
        height: 1.1rem;
        bottom: 6px;
        right: 4px;
    }
}
.xl {
    width: rem(96);
    height: rem(96);
    font-size: 2.6rem;
    + .badge {
        width: 1.3rem;
        height: 1.3rem;
        bottom: 9px;
        right: 8px;
    }
}
.xxl {
    width: rem(128);
    height: rem(128);
    font-size: 3.2rem;
    + .badge {
        width: 1.3rem;
        height: 1.3rem;
        bottom: 9px;
        right: 8px;
    }
}

.group {
    display: inline-flex;
    .container {
        margin-right: -1.7rem;
        border: 2px solid var(--clr-page-bg);
        &:last-of-type {
            margin-right: 0;
        }
    }
    &.xs .container > div {
        width: rem(24);
        height: rem(24);
        font-size: 0.5em;
        + .badge {
            width: 0.5rem;
            height: 0.5rem;
            bottom: -1px;
            right: 0;
            border-width: 1px;
        }
    }
    &.sm .container > div {
        width: rem(32);
        height: rem(32);
        font-size: 0.7em;
        + .badge {
            width: 0.7rem;
            height: 0.7rem;
            bottom: -2px;
            right: 0;
        }
    }
    &.md .container > div {
        width: rem(48);
        height: rem(48);
        font-size: 1.1em;
        + .badge {
            width: 0.9rem;
            height: 0.9rem;
            bottom: 0;
            right: 0;
        }
    }
    &.lg .container > div {
        width: rem(64);
        height: rem(64);
        font-size: 2rem;
        + .badge {
            width: 1.1rem;
            height: 1.1rem;
            bottom: 6px;
            right: 4px;
        }
    }
    &.xl .container > div {
        width: rem(96);
        height: rem(96);
        font-size: 2.6rem;
        + .badge {
            width: 1.3rem;
            height: 1.3rem;
            bottom: 9px;
            right: 8px;
        }
    }
    &.xxl .container > div {
        width: rem(128);
        height: rem(128);
        font-size: 2.6rem;
        + .badge {
            width: 1.3rem;
            height: 1.3rem;
            bottom: 9px;
            right: 8px;
        }
    }
}
.circle {
    border-radius: 50%;
}
