.container {
    margin-top: 1.3rem;
    .links_con {
        padding: 1rem;
        background: var(--clr-primary-light);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
