.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    span {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1.5rem;
        svg {
            font-size: inherit;
            color: var(--clr-red);
            margin: 0 0.4rem;
        }
    }
    svg {
        font-size: 1.8rem;
        margin: 0 0.5rem;
        color: #b2b2b2;
        transition: var(--transition);
        &:hover {
            color: var(--clr-primary);
        }
    }
}
.codeblock > div {
    border-radius: 10px;
    button {
        border: 1px solid var(--clr-gray-1);
        padding-bottom: 0.3rem;
        cursor: pointer;
    }
}
