:root {
  --gradient: linear-gradient(281.35deg, #cf0393 9.47%, #ae31e7ed 83.76%);
  --primary: #8d66d6;
  --primary-dark: #a10088;
  --page-bg: #1b1c30;
  --white: #ffffffc7;
  --label-white: #707070;
  --input-bg: #3e3e3e63;
  --error: #f66969;
}
