.container {
    font-size: 1.8rem;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-text-color);
    background-color: var(--clr-theme-3);
    transition: 0.3s;
    @media (hover: hover) {
        &:hover {
            color: var(--clr-text-color);
            background: var(--clr-primary);
        }
    }
    &:active {
        color: var(--clr-text-color);
        background: var(--clr-primary);
    }
    .badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: #ffffff;
        font-weight: 600;
        height: 1rem;
        min-width: 1rem;
        font-size: 0.62rem;
        background: var(--clr-primary);
        position: absolute;
        top: 2px;
        left: 1.22rem;
        border: 2px solid var(--clr-grey-3);
    }
}
