.container {
    padding: 0.6rem;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1rem 1fr 2rem;
    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        border-radius: 3px;
        width: 5px;
    }
    &.success {
        background: var(--clr-green-light);
        &::before {
            background: var(--clr-green);
        }
        .icon {
            background: var(--clr-green);
        }
    }
    &.error {
        background: var(--clr-red-light);
        &::before {
            background: var(--clr-red);
        }
        .icon {
            background: var(--clr-red);
        }
    }
    &.warning {
        background: var(--clr-yellow-light);
        .icon {
            background: var(--clr-yellow);
        }
        &::before {
            background: var(--clr-yellow);
        }
    }
    &.info {
        background: var(--clr-blue-light);
        .icon {
            background: var(--clr-blue);
        }
        &::before {
            background: var(--clr-blue);
        }
    }
    .text {
        padding-left: 0.8rem;
        .heading {
            display: flex;
            align-items: center;
            color: var(--clr-black);
        }
        p {
            margin-top: 0.6rem;
            margin-bottom: 0;
            font-size: 0.85rem;
            color: var(--clr-gray-2);
        }
    }
    .icon {
        display: grid;
        place-items: center;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin-right: 0.8rem;
        svg {
            font-size: 1.4rem;
            color: var(--clr-white);
        }
    }

    .close {
        background: none;
        padding: 0;
        width: 2rem;
        font-size: 1.2rem;
        height: 2rem;
        transition: 0.2s;
        svg {
            color: #1c1c1c6b;
        }
        &:hover {
            background: #c3c3c33b;
        }
    }
}
