:root {
    --clr-theme-bg-1: #f7f7f7;
    --clr-theme-bg-2: #fff;
    --clr-theme-bg-3: #fff;

    --clr-table-bg: var(--clr-white);
    --clr-table-bg-odd: #f8f8f8;
}
.dark-mode {
    --clr-theme-bg-1: #222222;
    --clr-theme-bg-2: #2a2a2a;
    --clr-theme-bg-3: #1e1e1e;

    --clr-page-bg: #222222;
    --clr-page-light-bg: #2a2a2a;
    --clr-page-dark-bg: #1e1e1e;

    --clr-table-bg: #2d2d2d;
    --clr-table-bg-odd: #222222;
}
html,
body {
    background-color: var(--clr-theme-bg-1);
    font-size: 100%;
    color: var(--clr-text-color);
    -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

table {
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: var(--clr-table-bg);
    margin-bottom: 2rem;
    td,
    th {
        padding: 0.6rem 1rem;
        text-align: left;
    }

    td {
        border-right: 1px solid var(--clr-table-bg-odd);
        font-size: 0.9rem;
        &:first-child {
            width: 20%;
            white-space: nowrap;
        }
    }

    thead th {
        color: #ffffff;
        background: var(--clr-secondary);
        border-radius: 0 10px 0 0;
    }

    thead th:nth-child(odd) {
        border-radius: 10px 0 0 0;
    }

    tr:nth-child(even) {
        background: var(--clr-table-bg-odd);
    }
}
