:root {
    --clr-page-bg: #f7f7f7;
}
html,
body {
    background-color: var(--clr-page-bg);
    font-size: 100%;
    color: var(--clr-text-color);
    -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
