:root {
    --clr-theme-bg-1: #f7f7f7;
    --clr-theme-bg-2: #fff;
    --clr-theme-bg-3: #fff;
    --clr-label: var(--clr-gray-3);
    --clr-table-bg: var(--clr-white);
    --clr-table-bg-odd: #f0f0f0;

    --clr-heading: var(--clr-black);
    --clr-element-container-bg: var(--clr-white);
}
.dark-mode {
    --clr-heading: var(--clr-white);
    --clr-text-color: #e3e3e3;
    --clr-theme-bg-1: #222222;
    --clr-theme-bg-2: #2a2a2a;
    --clr-theme-bg-3: #1e1e1e;

    --clr-label: var(--clr-gray-1);
    --clr-element-container-bg: var(--clr-page-light-bg);
    --clr-table-bg: #232b37;
    --clr-table-bg-odd: #1e2430;
}
html,
body {
    background-color: var(--clr-theme-bg-1);
    font-size: 100%;
    color: var(--clr-text-color);
    -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-heading);
}
table {
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: var(--clr-table-bg);
    margin-bottom: 2rem;
    overflow: hidden;
    td,
    th {
        padding: 0.6rem 1rem;
        text-align: left;
    }

    td {
        border-right: 1px solid var(--clr-table-bg-odd);
        &:first-child {
            max-width: 20%;
            white-space: nowrap;
        }
    }

    thead th {
        color: #ffffff;
        background: var(--clr-secondary);
        &:first-child {
            border-radius: 10px 0 0 0;
        }
        &:last-child {
            border-radius: 0 10px 0 0;
        }
    }

    tr:nth-child(even) {
        background: var(--clr-table-bg-odd);
    }
}

@media screen and (max-width: 63em) {
    .basic.responsive-3,
    .overlay.responsive-3 {
        grid-template-columns: 1fr 1fr;
    }
    .overlay .card:nth-child(1) {
        display: none;
    }
    .basic .card:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 32em) {
    .basic.responsive-3,
    .overlay.responsive-3 {
        grid-template-columns: 1fr;
    }

    .basic .card:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 75em) {
    .horizontal,
    .text {
        &.responsive-2 {
            grid-template-columns: 1fr;
        }
        .card:nth-child(2) {
            display: none;
        }
    }
}
.grid {
    margin-bottom: 2rem;
}
