@import "designComponents/utils";
.container {
  width: 100vw;
  height: calc(100vh - 75.08px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    width: 58vw;
    text-align: center;
    h1 {
      margin-bottom: 1.5rem;
      font-size: 3.6rem;
      span {
        color: var(--primary);
      }
    }
    p:first-of-type {
      font-size: 1.31rem;
      margin-bottom: 0.5rem;
    }
    p:last-of-type {
      color: #9f9f9f;
      font-size: 1rem;
      margin: 0 8rem;
      margin-bottom: 1.5rem;
    }
  }
}
